footer{
    display: grid;
    min-height: 5vh;
    text-align: center;
    background-color: black;
    div{
        a{
            color: white;
            text-decoration: none;
            padding: 10px;
            &:hover{
                color: lightblue;
            }
        }
    }
}